@model IEnumerable<WebApplication1.Models.Recipe>

@{
    ViewData["Title"] = "Yummy Cookbook";
}

<head>
    <style>
        th { background-color: #009999; }
        td { background-color: powderblue; }
        table, th, td { border: 1px solid; }
        table { border-collapse: collapse; }
    </style>
</head>

<h2>List of recipies</h2>

@if(ViewData["info"] != null)
{
    <p>@ViewData["info"]</p>
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th colspan="3">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("See details", "View", routeValues: new {id = item.Id})
                </td>
                <td>
                    @Html.ActionLink("Delete", "Index", routeValues: new {delete = item.Id})
                </td>
                <td>
                    @Html.ActionLink("Edit", "Create", routeValues: new {id = item.Id})
                </td>
            </tr>
        }
    </tbody>
</table>
